elasticsearch==8.11.1
pandas
numpy
streamlit
plotly
textblob
spacy
sentence-transformers
faker
streamlit-folium
folium
umap-learn
scikit-learn
bert-score
rouge-score
networkx
matplotlib
seaborn
psutil
transformers
torch
hdbscan
requests
